.admin-nav .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    background: #ffffff;
}
.sidebar-toggler-icon{
    cursor: pointer;
    font-size: 18px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 25px;
}
.notify-container{
    border-right: 2px solid #ebebeb;
    padding-right: 10px;
}

.auth-user{
    display: flex;
    align-items:center;
    gap:14px;
}

.info-sec{
    background: #14b0d2;
    margin-top: -8px;
    font-size: 15px;
    color: #ffffff;

}

.info-sec p{
    text-align: center;

}
.info-sec  b{
    font-weight: 700;
}
.sub-nav-items div{
    padding: 8px;
}

.notif-icon{
    position: relative;
}
.notif-count{
    position: absolute;
    top: -10px ;
    left: 10px;
    width: 20px;
    height: 20px;
    background: #db1111;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 600;
}

.notifs_body{
    padding: 10px 10px 30px 10px;
}